parameters:
    paths:
        - src
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Class Minvws\\Zammad\\HTTPClient extends @final class GuzzleHttp\\Client.#'
        - identifier: missingType.iterableValue
