parameters:
    paths:
        - src
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Class Minvws\\Zammad\\HTTPClient extends @final class GuzzleHttp\\Client.#'

